---
layout: default
---


<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Website">
    <meta name="author" content="Yan Song Ke">

    <title>Yan Ke</title>

    <!-- Bootstrap Core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="static/css/style.css" rel="stylesheet">

    <!-- Buttons CSS -->
    <link href = "static/css/buttons.css" rel = "stylesheet">

    <!-- Custom Fonts -->
    <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|News+Cycle" rel="stylesheet"> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
   
    <link rel="shortcut icon" href="static/icon/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="static/icon/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="static/icon/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="static/icon/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="static/icon/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/icon/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/icon/favicon-16.png">
	<link rel="apple-touch-icon" href="static/icon/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/icon/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/icon/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="static/icon/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="static/icon/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="static/icon/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="static/icon/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="static/icon/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="static/icon/favicon-180.png">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Quicksand" rel="stylesheet"> 	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="static/icon/favicon-144.png">
	<meta name="msapplication-config" content="static/icon/browserconfig.xml">

    <!--Angular JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!--GreetJS-->
    <script src = "static/js/textSwapped.js"></script>

</head>

<body id="page-top" class="index">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#page-top">Yan Ke</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" ng-app="navApp" ng-controller = "navCtrl">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="#about">About</a>
                    <li>
                        <a href="#portfolio">Portfolio</a>
                    </li>
                    </li>
                    <li>
                        <a target="_blank" href = "static/pdf/resume.pdf" class="ho">Resume</a>
                    </li>
                    <li>
                        <a href="{{site.url}}/blog/">Blog</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
     <header>
        <div class="container">
            <div class="row" style="padding-top: 6%;">
                <div class="col-lg-6">
                    <img class="img-responsive img" src="static/img/landing/profile.png" alt="main" align = "bottom">
                </div>

                <div class="col-lg-6 description">
                        <div class="intro-text" style ="text-align: right; padding: 6% 5% 10% 10%">
                            <span id = "greet" class="name" style="font-family: 'Gloria Hallelujah', cursive; font-size: 7em;">
                            Hoi,</span><br>
                            <span class="name">
                            I'm </span>
                            <span class ="name">Yan &amp; I like <span style="color: #5C2525;">red bean</span> ice-cream
                            </span>
                        </div>                 
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section class="success" id="about">
        <div class = "container">
            <div class = "row">
                <div class = "circle-set">
                    <div class ="about-circle red"></div>
                    <div class ="about-circle yellow"></div>
                    <div class = "about-circle green"></div>
                </div>
                <div class ="col-lg-12 about-header" >
                    Yan Ke  &#x2015; About  &#x2015;  20  X  17
                    <img class = "about-expandIcon" src = "static/img/arrows.png">
                </div>

            </div>
            <div class = "row" ng-app = "myApp" ng-controller="myCtrl">
                <a class = "tabs" href = "#page-top">
                <div class = "col-xs-4 about-tabs" 
                ng-mouseover = "hoverActive1=true" 
                ng-mouseleave = "hoverActive1=false"  
                ng-style="hoverActive1 ? {'background':colorHover} : {'background':notHover}"> Home </div></a>
                
                <div class = "col-xs-4 about-tabs selected"> About </div>
                
                <a class = "tabs" href = "#portfolio">
                <div class = "col-xs-4 about-tabs" 
                ng-mouseover = "hoverActive2=true" 
                ng-mouseleave = "hoverActive2=false"  
                ng-style="hoverActive2 ? {'background':colorHover} : {'background':notHover}"> Portfolio </div></a>
            </div>
            <div class = "row">
                <div class = "col-lg-12 about-textSec">
                    <p class = "tab"><b>></b> Yan.intro() </p>
                    <div class ="about-text">
                        Hi! I'm currently a student studying <a class ="uni" target = "_blank" href ="https://uwaterloo.ca/software-engineering/">Software Engineering</a> (going into 2A) at the University of Waterloo. From a young age, I've enjoyed mathematics and solving puzzles, and programming and design became a way for me to apply my interests. I'm currently working at a start-up in Waterloo developing an IoT product for Epi-Pens!  
                    </div>

                    <p class ="tab"><b>></b> Yan.interests() </p>
                    <div class = "about-text">
                        Cooking, Photography, Guitar, Judo, Tea Mixing
                    </div>

                    <p class ="tab"><b>></b> Yan.github() </p>
                    <div class = "about-text">
                        <a class = "uni" target="_blank" href = "https://github.com/yanske1">github.com/yanske1 </a>
                    </div>

                    <p class ="tab"><b>></b> Yan.linkedIn() </p>
                    <div class = "about-text">
                        <a class = "uni" target="_blank" href = "https://linkedin.com/in/yanske1">linkedin.com/in/yanske1 </a>
                    </div>

                    <p class ="tab"><b>></b> Yan.resume() </p>
                    <div class = "about-text">
                        <a class = "uni" target="_blank" href = "static/pdf/resume.pdf">Resume.pdf </a>
                    </div>

                    <p class ="tab"><b>></b> Yan.fun_fact() </p>
                    <div class = "about-text">
                        My name is an anagram for KanYe. <span id="cursor">&#9646;</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

  <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 style = "color: #032341; margin-bottom: 5%;">
                         Portfolio
                    </h2>
                </div>
            </div>
            <div class="row">
                {% assign sortedProjects = site.projects | sort: 'date' | reverse %}
                {% for project in sortedProjects %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{project.tag}}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    {{project.title}}
                                </div>
                            </div>
                            <img src="{{project.img}}" class="img-responsive" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Yan Song Ke 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->

    {% for project in site.projects %}
        <div class="portfolio-modal modal fade" id="{{project.tag}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <a href = "/">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>
                </a>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>{{project.title}}</h2>
                                <br>
                                <img src="{{project.img}}" class="img-responsive img-centered" alt="">
                                    {{project.content}}
                                <ul class="list-inline item-details">
                                    <li>Tools:
                                        <strong>{{project.tools}}
                                        </strong>
                                    </li>
                                    <li>Date:
                                        <strong>{{project.date | date: "%B %Y"}}
                                        </strong>
                                    </li>
                                </ul>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <!-- jQuery -->
    <script src="static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src= "static/js/scroll.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="static/js/freelancer.min.js"></script>
    
    <!-- AboutSect -->
    <script src = "static/js/aboutSection.js"></script>

</body>
</html>
