html {
  height: 100%;
}

body {
  height: 100%;
  color: $raven-grey;
  background-color: white;
  margin: 0;
  font-family: $default-font;
}

h2 {
  margin: 0;
}

button::-moz-focus-inner {
  border: 0;
}

.wrapper {
  margin-top: $header-height + 30px;
}

a {
  color: $raven-grey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  min-height: $header-height;
  border-bottom: 1px solid #e8e8e8;

  .title {
    float: left;
    line-height: $header-height;
    text-align: center;
    font-weight: $bold-weight;
    font-size: 1.5em
  }

  a {
    color: black;
  }
}

nav {
  float: right;

  .active {
    text-decoration: underline;
  }

  .dropdown-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  li {
    display: inline;
    margin-left: 10px;
  }

  @include media-query($small-screen-break) {
    position: absolute;
    top: ( $header-height - $nav-icon-height ) / 2;
    right: $body-side-padding / 2;
    background-color: #fdfdfd;
    text-align: right;

    .dropdown-trigger {
      display: block;
      background: none;
      border: none;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      height: $nav-icon-height;
    }

    .dropdown {
      display: none;
    }

    li {
      display: block;
    }
  }
}

.mobile-dropdown {
  clear: both;
  display: none;
  background: white;
  width: 100vw;
  border-bottom: 1px solid #e8e8e8;

  @include media-query($small-screen-break) {
    position: absolute;
    top: $header-height;
    left: 0;
    display: block;
    height: 0;
    overflow: hidden;

    ul {
      padding-left: $body-side-padding / 2;
      padding-right: $body-side-padding + 4px; // Offset due to menu icon
      margin: 0;
    }

    li {
      list-style-type: none;
      text-align: center;
      padding-bottom: 7px;
      padding-top: 7px;
      border-bottom: 1px solid #e8e8e8;

      a {
        display: block;
        width: 100%;
      }
    }

    li:first-child {
      border-top: 1px solid #e8e8e8;
    }

    li:last-child {
      border: none;
    }
  }
}

.container {
  padding-left: $body-side-padding;
  padding-right: $body-side-padding;
  max-width: $body-width - ($body-side-padding * 2);
  margin-left: auto;
  margin-right: auto;

  @include media-query($large-screen-break) {
    padding-left: $body-side-padding / 2;
    padding-right: $body-side-padding / 2;
    max-width: $body-width - $body-side-padding;
  }
}

.not-found {
  text-align: center;
  padding-top: 200px;
  font-size: 3em;
  color: $bit-more-grey;
}
