.blog {
	padding-left: $wrapper-text-padding;
	padding-right: $wrapper-text-padding;
}

.timeline-item {
	padding-bottom: 2em;
	position: relative;

  .read-more {
    color: $blue;
  }
}

.post-link {
  font-size: 1.5em;
  font-weight: $bold-weight;
}

.post-date {
  color: $soft-grey-text;
}
