.blog {
	padding-left: $wrapper-text-padding;
  padding-right: $wrapper-text-padding;

  @include media-query($small-screen-break) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.timeline-item {
	padding-bottom: 2em;
	position: relative;

  .read-more {
    color: $blue;
  }
}

.post-link {
  font-size: 1.5em;
  font-weight: $bold-weight;
}

.post-date {
  color: $soft-grey-text;
}
