.notes {
	padding-left: 2.3em;
	padding-right: 2.3em;
}

.timeline-item {
	padding-bottom: 2em;
	position: relative;

  .read-more {
    color: $blue;
  }
}

.post-link {
  font-size: 1.5em;
  font-weight: $bold-weight;
}

.post-date {
  color: #737373;
}