.template {
  margin-bottom: 2em;

  img {
    max-width: 80%;
    max-height: 300px;

    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;

    @include media-query($large-screen-break) {
      max-width: 100%;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0; 
    }
  }

  a {
    color: $blue;
  }

  nav {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.template-title {
  font-size: $heading-size;
  font-weight: $bold-weight;
}

.template-notes {
  margin-top: 30px;

  b {
    font-weight: $bold-weight;
  }
}

.template-nav {
  .next {
    float: right;
  }
}

.template-date {
  font-size: 1em;
  color: $soft-grey-text;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  figcaption {
    font-style: italic;
  }
}

