<header>
  <div class="dp-frame">
    <img src="{{ site.baseurl }}/assets/img/dp.png" alt="me" class="dp">
  </div>
  <div class="description">
    <h1 class="intro">
      Yan Ke
    </h1>
    <div class="bio">
      Computer Science / Statistics 2021 @ <a class="ext" href="https://uwaterloo.ca/" target="_blank" rel="noopener">University of Waterloo</a>
    </div>
    <div class="contacts">
      {% for social in site.data.contacts %}
        <a href="{{ social.link }}" target="_blank" rel="noopener">
          <img class="social" src="{{ site.baseurl }}/assets/img/{{ social.name }}.svg" alt="{{ social.name }}"/>
          <span>
            {{ social.link }}
          </span>
        </a>
      {% endfor %}
    </div>
  </div>
</header>
