<header>
  <div class="container">
    <div class="title">
      <a href="/">yanke.</a>
    </div>
    <nav>
      <button class="dropdown-trigger">
        <img class="menu-icon" src="{{ site.baseurl }}/assets/img/menu.svg">
      </button>

      <div class="dropdown"> 
        <ul>
          {% assign nav_pages = site.html_pages | sort: 'navigation_weight' %}
          {% for p in nav_pages %}
            {% if p.navigation_weight %}
            <li>
              <a href="{{ p.url }}" {% if p.url == page.url %} class="active"{% endif %}>
                {{ p.title }}
              </a>
            </li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ site.baseurl }}/assets/Yan_Resume.pdf" target="_blank">résumé</a></li>
        </ul>
      </div>
    </nav>
  </div>
  <div class="mobile-dropdown">
    <ul>
      {% assign nav_pages = site.html_pages | sort: 'navigation_weight' %}
      {% for p in nav_pages %}
        {% if p.navigation_weight %}
        <li>
          <a href="{{ p.url }}" {% if p.url == page.url %} class="active"{% endif %}>
            {{ p.title }}
          </a>
        </li>
        {% endif %}
      {% endfor %}
      <li><a href="{{ site.baseurl }}/assets/Yan_Resume.pdf" target="_blank">résumé</a></li>
    </ul>
  </div>
</header>
