.navbar-custom .navbar-nav .blog {
  color: #DAA89A; /*spicy pink*/
  background: #2C3E50;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #eee;
}

html, body {
	height: 100%;
}
body {
	background: #CDD8CF;
}

.corner
{
	border-radius:3px;
	padding: 10 10 10 10;
}

.post
{
	color: #2C3E50;
}

.date
{
	font-size: .5em;
	color: grey;
	font-style: italic;
}

.content
{
	font-size: .5em;
}

.figure-caption
{
    display: block;
    color: grey;
    font-size: smaller;
    padding-top: 8px;
    font-style: italic;
    text-align: center;
    padding-bottom: 5px;
}
