
html{
    height: 100%;
}

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  height: 100%;
}

p.tab {
  margin-bottom: 0px;
  margin-top: 3px;
}

p.small {
  font-size: 16px;
}

a.tabs{
  color: #333;
}

a.uni
{
  color: white;
}

a.uni:hover
{
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.img-centered {
  margin: 0 auto;
}

header {
  text-align: center;
  background-image: url(../img/pattern/main.png);
  /*background: repeat;*/
}

header .container {
  padding-top: 0px;
  padding-bottom: 0px;
  height: 100%;
}

header .row{
  display: block; 
 /* flex-direction: row;*/
}

header .img {
  display: none;
  /*margin: 0 auto 20px;*/
}

header .description{
  display:flex;
  justify-content:center;
  align-items:center; 
  margin-bottom: 5%; 
  flex-direction: column;
}

@font-face {
    font-family: Glober;
    src: url("../font/GloberT.otf") format("opentype");
}

header .intro-text .name {
  font-family: 'News Cycle', sans-serif;
  font-size: 3em;
  color: #032341;
}

@font-face {
    font-family: BoldedG;
    src: url("../font/GloberB.otf") format("opentype");
}

header .intro-text .introText{
  font-family: "BoldedG", sans-serif;
  font-size: 3em;
  font-weight: 3em;
  color: #032341;
}

header .intro-text .edu {
  padding-top: 20px;
  font-size: 1.4em;
  font-weight: 300;
  color: #2E2E2E;
}

header .col-lg-6{
  padding-right: 0px;
  padding-left: 0px;
}

@media (min-width: 768px) {
  header .img{
    display: block;
  }
  header .row{
    display: flex;
    direction: row;
  }
  header .container {
    padding-top: -px;
    padding-bottom: 0px;
  }
}

@media (min-width: 992px) {

  }
}
@media (min-width: 1200px) {

}


/*About section css*/

.about-header{
  background: #CDCCCC; 
  height: 30px; 
  border-top-right-radius: 1em; 
  border-top-left-radius: 1em; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; 
  font-weight: 700; 
  font-size: 1.2em; 
  letter-spacing: 2px;
}

.about-tabs{
  text-align: center;
  vertical-align: middle;
  background: #a2a09c;
  height: 0px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  letter-spacing: 1px;
}

.about-tabs.selected{
  background: #CDCCCC;
}

.circle-set{
  position: absolute;
  display: flex; 
  flex-direction: row;
  justify-content: center; 
  align-items: center;
  width: 15%;
  height: 30px;
  z-index: 10;
  padding-left: 10px;
}

.about-circle{
  position: relative;
  margin: 20px auto;
  width: 13px;
  height: 13px;
  border-radius: 20px;
}

.about-circle.red{
  background: #ff5147;
}

.about-circle.yellow{
  background: #ffbb28;
}

.about-circle.green{
  background: #00cc4b;
}

.about-expandIcon{
  height: 60%; 
  width: auto; 
  z-index: 3; 
  position: absolute; 
  right: 11px; 
  top: 7px;
}

.about-textSec{
  color: white;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  background: #262626; 
  padding-bottom: 2%;
  padding-top: 1%;
  font-size: 1.2em;
}

.about-text{
  padding-top: 0%;
  padding-bottom: 4px;
  margin-left: 3.5%;
}

@media (min-width: 768px) {
  .circle-set{
    width: 90px;
  }
  .about-tabs{
    height: 20px;
  }
}

section {
  padding: 75px;
}
section h2 {
  margin: 0;
  font-size: 3em;
}
section.success {
  background: #FEDCD2;
}

span.stretch {
    display:inline-block;
    -webkit-transform:scale(2,1); /* Safari and Chrome */
    -moz-transform:scale(2,1); /* Firefox */
    -ms-transform:scale(2,1); /* IE 9 */
    -o-transform:scale(2,1); /* Opera */
    transform:scale(2,1); /* W3C */
}

@media (max-width: 767px) {
  section {
    padding: 75px 0;
  }
  section.first {
    padding-top: 75px;
  }
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: #DAA89A;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 2%;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  color: white;
  font-family:helvetica-w01-bold,helvetica-w02-bold,helvetica-lt-w10-bold,sans-serif;
  font-size: 70px;
  text-align: right;
  font-weight: 600;
  word-spacing: 99999px; /*one word per line*/
  line-height: 90%;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h6{
  font-size:50px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content .manyWords{
  font-size : 50px; 
  line-height: 85%;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content {
    font-size: 40px;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content .manyWords{
    font-size : 30px; 
    line-height: 85%;
  }
}

@media (min-width: 992px){
  #portfolio .portfolio-item .portfolio-link .caption .caption-content {
    font-size: 70px;
  }
  #portfolio .portfolio-item .portfolio-link .caption .caption-content .manyWords{
    font-size : 50px; 
    line-height: 85%;
  }
}

.floating-label-form-group {
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eeeeee;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #eeeeee;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #18BC9C;
}
form .row:first-child .floating-label-form-group {
  border-top: 1px solid #eeeeee;
}
footer {
  color: white;
}
footer h3 {
  margin-bottom: 30px;
}
footer .footer-above {
  padding-top: 50px;
  background-color: #2C3E50;
}
footer .footer-col {
  margin-bottom: 50px;
}
footer .footer-below {
  padding: 25px 0;
  background-color: #233140;
}
.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18BC9C;
  background: white;
  border: solid 2px white;
}
.btn-primary {
  color: white;
  background-color: #2C3E50;
  border-color: #2C3E50;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #1a242f;
  border-color: #161f29;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #2C3E50;
  border-color: #2C3E50;
}
.btn-primary .badge {
  color: #2C3E50;
  background-color: white;
}
.btn-success {
  color: white;
  background-color: #18BC9C;
  border-color: #18BC9C;
  font-weight: 700;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #18BC9C;
  border-color: #18BC9C;
}
.btn-success .badge {
  color: #18BC9C;
  background-color: white;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: none;
}
.scroll-top {
  position: fixed;
  right: 2%;
  bottom: 2%;
  width: 50px;
  height: 50px;
  z-index: 1049;
}
.scroll-top .btn {
  font-size: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  line-height: 28px;
}
.scroll-top .btn:focus {
  outline: none;
}

/*project css section*/

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

.navbar-custom {
  background: #2C3E50;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
}

/*Nav Bar CSS*/
.navbar-custom .navbar-brand {
  color: white;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: white;
  background: #2C3E50;
}
.navbar-custom .navbar-nav {
  letter-spacing: 1px;
}
.navbar-custom .navbar-nav li a {
  color: white;
}
.navbar-custom .navbar-nav li a:hover {
  color: #DAA89A;
  background: #2C3E50;
}
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: #FEDCD2;
  background: #2C3E50; /*navy blue*/
}
.navbar-custom .navbar-nav li.active a {
  color: #DAA89A; /*spicy pink*/
  background: #2C3E50;
}
.navbar-custom .navbar-nav li.active a:hover,
.navbar-custom .navbar-nav li.active a:focus,
.navbar-custom .navbar-nav li.active a:active {
  color: #DAA89A;
  background: #2C3E50;
}
.navbar-custom .navbar-toggle {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  border-color: white;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  color: white;
  background: #2C3E50;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 7px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom.affix {
    padding: 4px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}

