// Colours
$soft-grey: #CCCCCC;
$soft-grey-text: #737373;
$bit-more-grey: #444444;
$raven-grey: #2a2e30;
$blue: #107896;

// Spacings
$body-side-padding: 30px !default;
$body-width: 1000px !default;

$wrapper-text-padding: 2.3em;

$nav-height: 40px;
$tab-height: 26px;

$dp-dimension: 140px;
$social-icon-dimensions: 20px;

// Typesettings
$default-font: 'Quicksand', sans-serif;
$bold-weight: 500;
$heading-size: 1.4em;
$subheading-size: 1.3em;
$title-size: 1em;

// Media Query & Page Break Setups
$small-screen-break: 600px;
$large-screen-break: 800px;

@mixin media-query($break) {
  @media screen and (max-width: $break) {
    @content;
  }
}

// Partial Imports
@import "partials/base.scss";
@import "partials/header.scss";
@import "partials/nav.scss";
@import "partials/home.scss";
@import "partials/work.scss";
@import "partials/note.scss";
@import "partials/template.scss";
