---
layout: default
title: projects
navigation_weight: 0
permalink: projects.html
---

<div class="work wrapper">
  <div class="project-container">
    {% assign projects = site.projects | sort: 'date' | reverse %}
    {% for project in projects %}
      <div class="project">
        <a href="{{ project.url | relative_url }}">
          <img src="{{ site.baseurl }}/assets/img/work/{{ project.dp }}" alt="{{ project.title }}">
        </a>
        <a href="{{ project.url | relative_url }}">
          <div class="title">{{ project.title }}</div>
        </a>
        {% assign tags = project.tags %}
        <div class="tag-container">
          {% for tag in tags %}
          <div class="hidden-tag">{{ tag }}</div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
