---
layout: page
name: Projects
url: /projects.html
---
<div class="template-img-grid">
  {% assign img_srcs = page.img | split: ' ' %}
  {% for img in img_srcs %}
    <img src="{{ site.baseurl }}/assets/img/work/{{ img }}" alt="{{ img }}">
  {% endfor %}
</div>
{{ content }}
<div class="template-notes">
  {% if page.github %}
    Github: <b><a href="{{ page.github }}" target="_blank" rel="noopener">{{ page.github }}</a></b>
    <br />
  {% endif %}
  Made with ❤️ and: <b>{{ page.tools }}</b>
</div>
